{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
	
	{% include "partial/home-jumbotron.twig" %}	
	{% include "partial/home-inline-signup.twig" %}	
	{% include "partial/home-featured-campaigns.twig" %}
		
	</div><!-- /content-wrapper -->
{% endblock %}